/* Variables de estilo */
 
html {
    /* color de fondo y color de letra navBar */
    --bgColor: #F7F7F5;
    --bgnavBarColor: #2E2E2E;
 
    /* Quienes somos? */
    --h2Color: #506078; 
    --h2Font: "Poppins", "sans-serif";
 
    /* Vision, mision, valores, titulos de bios. */
    --titleMision: #B46E4C;
    
    /* parrafos */
    --pColor: Black;
    --pFont: "Inter", "sans-serif";
}

/*Yerania NavBar*/
/*Texto del logotipo*/
.logo-text {
    font-family: "Montserrat", "sans-serif";
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #F7F7F5;
}

/* Ajustes de los enlaces del navbar */
.navbar-nav .nav-link {
    font-size: 0.95rem;
    font-weight: 400;
    transition: 0.3s ease;
    color: #F7F7F5;
}

/*Efecto hover cuando el usuario pasa el mouse*/
.navbar-nav .nav-link:hover {
    color: #B46E4C; 
}

/* Ajuste pequeño para separar un poco los enlaces del navBar */
.nav-item {
    margin-left: 10px;
}

